.custom{
    max-height: 720px;
    min-height: 720px;
    max-width: 720px;
    min-width: 720px;
    text-align: center;
    vertical-align: middle;
    
}
.imgr {
    max-height: 136px;
    min-height: 136px;
    max-width: 136px;
    min-width: 136px;
}