@model Financial.Models.HouseHold

@{
    ViewBag.Title = "DashBoard";
}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>@Model.Name DashBoard</h2>
            <h2>@Model.Greeting</h2>
        </div>
    </div>
</section>


