@{ 
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Financial Portal</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="icon" href="~/images/core icon 1.png" />


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Custom Image.css" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <link href="~/Content/style4pratt.css" rel="stylesheet" />
    <a href="~/Views/Home/LandingPage.cshtml">~/Views/Home/LandingPage.cshtml</a>
    <!-- =======================================================
      Template Name: Pratt
      Template URL: https://templatemag.com/pratt-app-landing-page-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand smothscroll" href="#home"><b><strong>Fin</strong>Port</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#home" class="smothscroll">Home</a></li>
                    <li><a href="#desc" class="smothscroll">Description</a></li>
                    <li><a href="#showcase" class="smothscroll">Showcase</a></li>
                    <li><a href="#contact" class="smothscroll">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li >@Html.ActionLink("Log In", "Login", "Account")</li>
                    <li >@Html.ActionLink("Register", "Register", "Account")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <section id="home" name="home">
        <div id="headerwrap">
            <div class="container">
                <div class="row centered">
                    <div class="col-lg-12">
                        <h1>Welcome To <b>FinPort</b></h1>
                        <h3> A Better Way To Budget.</h3>
                        <br>
                    </div>

                    <div class="col-lg-2">
                        <h5>Amazing Results</h5>
                        <p>Dedicating to make your finances yours to keep. </p>
                        <img class="hidden-xs hidden-sm hidden-md "  />
                    </div>
                    <div class="col-lg-8">
                        <img class="img-responsive" src="~/images/screencapture-localhost-50487-Home-Index-2019-03-06-20_43_11.png" alt="">
                    </div>
                    <div class="col-lg-2">
                        <br>
                        <img class="hidden-xs hidden-sm hidden-md"  />
                        <h5>Fun Way To budget.</h5> 
                        <p>Easy navigation with amazing features</p>
                    </div>
                </div>
            </div>
            <!--/ .container -->
        </div>
        <!--/ #headerwrap -->
    </section>


    <section id="desc" name="desc">
        <!-- INTRO WRAP -->
        <div id="intro">
            <div class="container">
                <div class="row centered">
                    <h1>About Us</h1>
                    <br>
                    <br>
                    <div class="col-lg-4">
                        <img src="img/intro01.png" alt="">
                        <h3>What is FinPort</h3>
                        <p>FinPort is a Financial Portal designed to help you better budget and keep track of your your finances </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="img/intro02.png" alt="">
                        <h3>Why FinPort</h3>
                        <p>FinPort is dedicated to help you better recognize where your needs to be met. FinPort will notify of all your accounts activity as well as help you see other options that will help you excel. </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="img/intro03.png" alt="">
                        <h3>What to Expect</h3>
                        <p>As a user you can expect to have your account information secured as well as accurate.</p>
                    </div>
                </div>
                <br>
                <hr>
            </div>
            <!--/ .container -->
        </div>
        <!--/ #introwrap -->
        <!-- FEATURES WRAP -->
        <div id="features">
            <div class="container">
                <div class="row">
                    <h1 class="centered">What's New?</h1>
                    <br>
                    <br>
                    <div class="col-lg-6 centered">
                        <img class="centered" src="" alt="">
                    </div>

                    <div class="col-lg-6">
                        <h3>Some Features</h3>
                        <br>
                        <!-- ACCORDION -->
                        <div class="accordion ac" id="accordion2">
                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                        First Class Design
                                    </a>
                                </div>
                                <!-- /accordion-heading -->
                                <div id="collapseOne" class="accordion-body collapse in">
                                    <div class="accordion-inner">
                                       
                                    </div>
                                    <!-- /accordion-inner -->
                                </div>
                                <!-- /collapse -->
                            </div>
                            <!-- /accordion-group -->
                            <br>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Retina Ready Theme</a>
                                </div>
                                <div id="collapseTwo" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p>
                                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                    </div>
                                    <!-- /accordion-inner -->
                                </div>
                                <!-- /collapse -->
                            </div>
                            <!-- /accordion-group -->
                            <br>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Awesome Support</a>
                                </div>
                                <div id="collapseThree" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p>
                                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                    </div>
                                    <!-- /accordion-inner -->
                                </div>
                                <!-- /collapse -->
                            </div>
                            <!-- /accordion-group -->
                            <br>

                            <div class="accordion-group">
                                <div class="accordion-heading">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">Responsive Design</a>
                                </div>
                                <div id="collapseFour" class="accordion-body collapse">
                                    <div class="accordion-inner">
                                        <p>
                                            It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
                                            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                                        </p>
                                    </div>
                                    <!-- /accordion-inner -->
                                </div>
                                <!-- /collapse -->
                            </div>
                            <!-- /accordion-group -->
                            <br>
                        </div>
                        <!-- Accordion -->
                    </div>
                </div>
            </div>
            <!--/ .container -->
        </div>
        <!--/ #features -->
    </section>


    <section id="showcase" name="showcase">
        <div id="showcase">
            <div class="container">
                <div class="row">
                    <h1 class="centered">Some Screenshots</h1>
                    <br>
                    <div class="col-lg-8 col-lg-offset-2">
                        <div id="carousel-example-generic" class="carousel slide">
                            <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            </ol>

                            <!-- Wrapper for slides -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img src="img/item-01.png" alt="">
                                </div>
                                <div class="item">
                                    <img src="img/item-02.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <br>
            </div>
            <!-- /container -->
        </div>
    </section>


    <div id="copyrights">
        <div class="container">
            <p>
                &copy; Copyrights <strong>Fin</strong>Port. All Rights Reserved
            </p>
            <div class="credits">
                <!--
                  You are NOT allowed to delete the credit link to TemplateMag with free version.
                  You can delete the credit link only if you bought the pro version.
                  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/pratt-app-landing-page-template/
                  Licensing information: https://templatemag.com/license/
                -->
                Created with Pratt template by <a href="https://templatemag.com/">TemplateMag</a>
            </div>
        </div>
    </div>
    @section Scripts {

        <!-- JavaScript Libraries -->
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>

        @*<script src="lib/php-mail-form/validate.js"></script>*@
        <script src="~/Scripts/easing.min.js"></script>

        <!-- Template Main Javascript File -->
        <script src="~/Scripts/main.js"></script>
        }
    </body>
</html>
