@{ 
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Financial Portal</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link rel="icon" href="~/images/core icon 1.png" />


    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Raleway:400,300,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Custom Image.css" rel="stylesheet" />
    <!-- Main Stylesheet File -->
    <link href="~/Content/style4pratt.css" rel="stylesheet" />
    <!-- =======================================================
      Template Name: Pratt
      Template URL: https://templatemag.com/pratt-app-landing-page-template/
      Author: TemplateMag.com
      License: https://templatemag.com/license/
    ======================================================= -->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navigation">

    <!-- Fixed navbar -->
    <div id="navigation" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand smothscroll" href="#home"><b><strong>Fin</strong>Port</b></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#home" class="smothscroll">Home</a></li>
                   
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Log In", "Login", "Account")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

    <section id="home" name="home">
        <div id="headerwrap">
            <div class="container">
                <div class="row centered">
                    <div class="col-lg-12">
                        <h1>Welcome To <b>FinPort</b></h1>
                        <h3> A Better Way To Budget.</h3>
                        <br>
                    </div>

                    <div class="col-lg-2">
                        <h5>Amazing Results</h5>
                        <p>Dedicating to make your finances yours to keep. </p>
                        <img class="hidden-xs hidden-sm hidden-md " />
                    </div>
                    <div class="col-lg-8">
                        <img class="img-responsive" src="~/images/screencapture-localhost-50487-Home-Index-2019-03-06-20_43_11.png" alt="">
                    </div>
                    <div class="col-lg-2">
                        <br>
                        <img class="hidden-xs hidden-sm hidden-md" />
                        <h5>Fun Way To budget.</h5>
                        <p>Easy navigation with amazing features</p>
                    </div>
                </div>
            </div>
            <!--/ .container -->
        </div>
        <!--/ #headerwrap -->
    </section>


    <section id="desc" name="desc">
        <!-- INTRO WRAP -->
        <div id="intro">
            <div class="container">
                <div class="row centered">
                    <h1>About Us</h1>
                    <br>
                    <br>
                    <div class="col-lg-4">
                        <img src="~/images/default.jpg" alt="" width="100">
                        <h3>What is FinPort</h3>
                        <p>FinPort is a Financial Portal designed to help you better budget and keep track of your your finances </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="~/images/default.jpg" alt="" width="100">
                        <h3>Why FinPort</h3>
                        <p>FinPort is dedicated to help you better recognize where your needs to be met. FinPort will notify of all your accounts activity as well as help you see other options that will help you excel. </p>
                    </div>
                    <div class="col-lg-4">
                        <img src="~/images/default.jpg" alt="" width="100">
                        <h3>What to Expect</h3>
                        <p>As a user you can expect to have your account information secured as well as accurate.</p>
                    </div>
                </div>
                <br>
                <hr>
            </div>
            <!--/ .container -->
        </div>
      
    </section>




    <div id="copyrights">
        <div class="container">
            <p>
                &copy; Copyrights <strong>Fin</strong>Port. All Rights Reserved
            </p>
            <div class="credits">
                <!--
                  You are NOT allowed to delete the credit link to TemplateMag with free version.
                  You can delete the credit link only if you bought the pro version.
                  Buy the pro version with working PHP/AJAX contact form: https://templatemag.com/pratt-app-landing-page-template/
                  Licensing information: https://templatemag.com/license/
                -->
                Created with Pratt template by <a href="https://templatemag.com/">TemplateMag</a>
            </div>
        </div>
    </div>
    @section Scripts {

        <!-- JavaScript Libraries -->
        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script class="include" type="text/javascript" src="~/Scripts/jquery.dcjqaccordion.2.7.js"></script>

        @*<script src="lib/php-mail-form/validate.js"></script>*@
        <script src="~/Scripts/easing.min.js"></script>

        <!-- Template Main Javascript File -->
        <script src="~/Scripts/main.js"></script>
    }
</body>
</html>
