@using Financial.ViewModels
@model IEnumerable<GuestUser>

@{
    ViewBag.Title = "Lobby";

}

<section class="content">
    <div class="contrainer-fluid">
        <div class="block-header">
            <div class="row">
                @foreach (var guest in Model)
                {
                    <div class="col-md-4">
                        <b>Name:</b>@guest.Name<br />
                        <b>Email:</b>@guest.Email<br />
                    </div>
                }
            </div>

            <div class="row">
                <div class="col-md-offset-3 col-md-3">
                    @Html.ActionLink("Create HouseHold", "Create", "HouseHolds", null, new { @class = "btn btn-lg btn-primary" })
                </div>
                <div class="col-md-offset-3 col-md-3">
                    @Html.ActionLink("Accept Invitation", "", "Invitations", null, new { @class = "btn btn-lg btn-success" })
                </div>
            </div>
        </div>
       
    </div>
</section>

